<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {% seo %}
  
</head>
<body>
  <header class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    
    <nav>
      <a href="{{ "/" | relative_url }}" class="btn">Inicio</a>
      <a href="{{ "/about" | relative_url }}" class="btn">Sobre mí</a>
    </nav>
    
     <div class="social-links">
      <a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener">
        <img src="/assets/icons/github.svg" alt="GitHub" width="24" height="24">
      </a>
      <a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noopener">
        <img src="/assets/icons/linkedin.png" alt="LinkedIn" width="24" height="24">
      </a>
      <a href="mailto:garijoamorostatiana@gmail.com">
        <!--<a href="mailto:{{ site.social.email }}">-->
        <img src="/assets/icons/email.svg" alt="Email" width="24" height="24">
      </a>
    </div>
  </header>

  <main class="main-content">
    {{ content }}
  </main>

 <footer class="site-footer">
  <div class="footer-content">
    <p class="copyright">© {{ site.time | date: '%Y' }} {{ site.title }} 
    </p>
    <small class="icons-credit">
       Iconos by 
      <a href="https://icons8.com" target="_blank" rel="noopener noreferrer">Icons8</a>
    </small>
    
  </div>
</footer>
</body>
</html>
